## AIM of this notebook

> Take the old songs

> Take the new songs

> Merge

> Apply all the techniques in the preprocessing and main code here

> Remove stop words

> Generate word cloud of songs<2005 and >2005 and save the image

> Make a function to predict word popularity of the songs

In [1]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_csv("moviesWithYears.csv")
data2 = pd.read_csv("data2_old_songs.csv")

In [18]:
data.head(1)

,movieName,songName,songSinger,songMusic,songLyricist,songLyrics,years
0,Bala,Don’t Be Shy,"Badshah, Shalmali Kholgade, Gurdeep Mehendi",Sachin-Jigar,"Mellow D, Badshah","Sun, main hoon thoda sanki\r\nKarun mann ki\r\...",2019

In [19]:
data2.head(1)

,Unnamed: 0,movieName,movieYear,songName,songSinger,songMusic,songLyricist,songLyrics
0,0,1920,2008,Tujhe Main Pyar Karu,Kailash Kher,Adnan Sami,Sameer,Tujhe main pyar karoon\nAur itna pyar karoon\n...

In [20]:
data2 = data2.drop(axis = 1, columns = ["Unnamed: 0"]).copy()

In [21]:
data2.head(1)

,movieName,movieYear,songName,songSinger,songMusic,songLyricist,songLyrics
0,1920,2008,Tujhe Main Pyar Karu,Kailash Kher,Adnan Sami,Sameer,Tujhe main pyar karoon\nAur itna pyar karoon\n...

In [22]:
data.head(1)

,movieName,songName,songSinger,songMusic,songLyricist,songLyrics,years
0,Bala,Don’t Be Shy,"Badshah, Shalmali Kholgade, Gurdeep Mehendi",Sachin-Jigar,"Mellow D, Badshah","Sun, main hoon thoda sanki\r\nKarun mann ki\r\...",2019

In [39]:
mergeData = []

for x in data.values:
    movieName = x[0]
    songName = x[1]
    songSinger = x[2]
    songMusic = x[3]
    songLyricist = x[4]
    songLyrics = x[5]
    years = x[6]
    mergeData.append([movieName,songName,songSinger,songMusic, songLyricist, songLyrics, years])
    
for x in data2.values:
    movieName = x[0]
    songName = x[2]
    songSinger = x[3]
    songMusic = x[4]
    songLyricist = x[5]
    songLyrics = x[6]
    years = x[1]
    mergeData.append([movieName,songName,songSinger,songMusic, songLyricist, songLyrics, years])
    
columns = ["movieName","songName","songSinger","songMusic", "songLyricist", "songLyrics", "years"]

In [45]:
mergeDataFrame = pd.DataFrame(mergeData, columns = columns)

mergeDataFrame.to_csv("mergedData.csv", index = False, columns = columns, header = True)

In [44]:
set(list(mergeDataFrame.years))

{0,
 1938,
 1948,
 1949,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019}